* {
    font-family: 'Wix Madefor Display', sans-serif;
}

.header {
    background-color: #DA1E37;
}

.title {
    font-size: 100px;
    font-weight: 800;
    color: white;
}

.subtitle {
    font-size: 56px;
    font-weight: 700;
    color: white;
}

.about-me {
    background-color: #FFFFFF;
}

.about-me-header {
    color: #E01E37;
    font-weight: 800;
    font-size: 48px;
}

.about-me-content {
    color: #E01E37;
    font-size: 20px;
}

