* {
    font-family: 'Wix Madefor Display', sans-serif;
}

.header {
    background-color: #DA1E37;
}

.title {
    font-size: 100px;
    font-weight: 800;
    color: white;
}

.subtitle {
    font-size: 56px;
    font-weight: 700;
    color: white;
}

.about-me {
    background-color: #FFFFFF;
}

.about-me-header {
    color: #E01E37;
}

.about-me-content {
    color: #E01E37;
    font-size: 20px;
}

.fw-800 {
    font-weight: 800;
}

svg {
    color: white;
}

.contact-card {
    background-color: #0D0D0D;
}

.contact-card-icon {
    height: 90px;
    width: 90px;
}

.card {
    background-color: #0D0D0D;
}


